
<div class="row">
  <div class="col-md-6">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
      <!--wrap panel heading in span to trigger image change as well as collapse -->
        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
          <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">The Core Idea</h4>
          </div>
        </span>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            It's a new community in Malaysia with the aim to bring more smile and happiness to the all the pets lover out there. Our core idea is to enable people that couldn't afford to own a pet for some reasons to have the chance to have their favourite pets as a company. Whether its because of parents restriction, financial capability, time constraint, residentials regulation or whatever reasons, have no worries. Our our platform would love to help you as much as we can.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
          <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title collapsed">Some words from our team:</h4>
          </div>
        </span>

        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Life is much simpler back in those good old days during our childhood. Can you remember them? We were amused and entertained by all those small things. Perhaps playing with animals is one of them. If you miss those moments, here is your golden opportunity to rejoice. You are the one that defines what fun means to you. Register with us and start enjoy the companion of pets again with zero hassle.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
          <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="panel-title">Our team</h4>
          </div>
        </span>

        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            There are 5 of us working on this project: Claudia, Foo, Manoj, Ng and Swee.
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <div class="md-macbook-pro md-glare">
      <div class="md-lid">
        <div class="md-camera"></div>
          <div class="md-screen">
            <div class="tab-featured-image">
              <div class="tab-content">
                <div class="tab-pane  in active" id="tab1">
                  <%= image_tag("otter.jpg", class:"photos", class:"img img-responsive") %>
                </div>
                <div class="tab-pane " id="tab2">
                  <%= image_tag("fox.jpg", class:"photos", class:"img img-responsive") %>
                </div>
                <div class="tab-pane fade" id="tab3">
                  <%= image_tag("Red-panda.jpg", class:"photos", class:"img img-responsive") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="md-base"></div>
    </div>
  </div> <!-- / .col-md-8 -->

</div> <!--/ .row -->
