
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "cutekitten.jpg", class: "fill" %>
      <div class="carousel-caption">
        <h2>Cute Kitten</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "dog-date-1.jpg", class: "fill" %>
      <div class="carousel-caption">
        <h3>Let's play</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "pet-rabbit.jpg", class: "fill" %>
      <div class="carousel-caption">
        <h3>We have rabbits too</h3>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3750
    })
  })
</script>

<br>
<br>
<br>

<div class="container_content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="testimonials">
              <div class="block_background" align="center">
                <strong>
                  <h1>How it works</h1>
                </strong>
              </div>
              <div class="active item">
                <p>Step 1:</p>
                <blockquote><p>Create a user profile</p></blockquote>
              </div>
              <div class="active item">
                <p>Step 2:</p>
                <blockquote><p>Look for the your favourite pets.</p></blockquote>
              </div>
              <div class="active item">
                <p>Step 3:</p>
                <blockquote><p>Book it!</p></blockquote>
              </div>
              <div class="active item">
                <p>Step 4:</p>
                <blockquote><p>Once approved, you can enjoy your time with the pet.</p></blockquote>
              </div>
            	<div class="active item">
                <p>Step 5:</p>
                <blockquote><p>Have fun, be happy.</p></blockquote>
              </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>NEXT ACADEMY
                        <br>Glomac</p>
                </div>

                <div class="footer-col col-md-4">
                  <div class="footer-social-icons">
                    <h4 class="_14">Follow us on</h4>
                    <ul class="social-icons">
                        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>

                <div class="footer-col col-md-4">
                    <h3>About Pets Play Love</h3>
                    <p>Join us for free with lots of pats and love! <a href="/users/sign_up">Sign Up for Pets Play Love</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2017
                </div>
            </div>
        </div>
    </div>
</footer>
