// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myCarousel {
  height: 500px;
  width: 100%;
  display: inline-block;
}

.container_content {
  padding-top: 10px;
}

.block_background {
  background-color: #ffc266;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

blockquote {
  background-color: #ffd699;
}

.profile {
  padding-top: 20px;
  background: #fff;
}

.profile-userpic img {
  border-radius: 10px;
}

.profile-usertitle {
  text-align: center;
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 7px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.request {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #ff3333;
}
